///*
// * This is a manifest file that'll be compiled into application.css, which will include all the files
// * listed below.
// *
// * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
// *
// * You're free to add application-wide styles to this file and they'll appear at the bottom of the
// * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// * files in this directory. Styles in this file should be added after the last require_* statement.
// * It is generally better to create a new file per style scope.
// *
// */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/readable/variables";
@import "bootstrap";
@import "bootswatch/readable/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";


.fill-background {
  background-color: #efefef;
}

.container {
  max-width: 650px;
}

.push-down {
  padding-top: 100px;
}

footer {

  &.sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: block;
  }

  > .container:before {
    content: '';
    display: block;
    padding-top: 9px;
    border-top: 1px solid $page-header-border-color;
  }

}

.field_with_errors {
  display: inline;
}


.faded {

  color: $gray;

  a {
    color: $gray-light
  }
}